

  <div class="background-header">
  </div>
  <div class="page-header"></div>
  <article class="name-section">Marylene Sawyer</article>
  <article class="rectangle-icons"></article>
  <div class="occupation">Software developer</div>
  <section class="description">Hello I am a software developer! I can help you build a product, feature or website. Look through some of my work and experience! If you like what you see and have project you need coded, don’t hesistate to contact me.</section>
  <article class="rectangle-icons">
  </article>
  <article class="works-social-media">My works in social networks</article>
  <div class="portfolio-title">My Portfolio</div>
  <div class="project-1"></div>
  <div class="project-2"></div>
  <div class="project-3"></div>
  <div class="project-4"></div>
  <div class="project-5"></div>
  <div class="project-6"></div>
  <div class="about-me">About me</div>
  <div class="resume"></div>
  <div class="get-my-resume">Get my resume</div>
  <div class="details">In three sentences describe who you are as a professional. Look through some of my work and experience! If you like what you see and have project 
    you need coded, don’t hesistate to contact me.</div>
  <div class="languages"></div>
  <div class="languages-title">Languages</div>
  <div class="languages-list">
    <ul>
      <li>JavaScript</li>
      <li>HTML</li>
      <li>Ruby</li>
      <li>CSS</li>
      <li>(ES5/ES6) </li>
    </ul>
  </div>
  <div class="frameworks"></div>
  <div class="frameworks-title">Frameworks</div>
  <div class="frameworks-list">
    <ul>
      <li>Bootstrap</li>
      <li>Ruby on Rails</li>
      <li>RSpec</li>
      <li>Capybara</li>
      <li>Selenium</li>
    </ul>
  </div>
  <div class="skills"></div>
  <div class="skills-title">Skills</div>
  <div class="skills-list">
    <ul>
      <li>Bootstrap</li>
      <li>Bulma</li>
      <li>Codepen</li>
      <li>Github</li>
      <li>Gitlab</li>
    </ul>
  </div>
  <div class="interested-title">Interested in collaborating?</div>
  <div class="interested-content">
    If you have an application you are interested in developing, a feature that you need built or a project that need coding, I’d love to help you with it.
  </div>
  <div class="footer-shape">
  </div>
  <div class="footer">
    <div class="message"></div>
    <div class="message-placeholder">Message*</div>
    <div class="name-email"></div>
    <div class="your-name">Yor name</div>
    <div class="email"></div>
    <div class="your-email">your-email</div>
    <div class="get-in-touch"></div>
    <div class="get-in-touch-message">Get in touch</div>
    <div class="my-email">marylene.sawyer@gmail.com</div>
    <div class="footer-github-icon">
      <div>
      </div>

