<div class="row">
  <div class="col-md-3">
    <div class="row ml-5 ellipse d-none mt-2 d-md-flex justify-content-center align-items-center">
      <h5 class="cp pt-1">CP</h5>
    </div>
    <ul class="ml-md-5 ml-0 intro d-flex flex-md-column mb-xs-0 pb-xs-0">
      <li class="pr-md-0 pr-3"><a href="/details">Intro</a></li>
      <li class="pr-md-0 pr-3"><a href="#portfolio">Portfolio</a></li>
      <li class="pr-md-0 pr-3"><a href="/details#intro">About</a></li>
      <li class="pr-md-0 pr-3"><a href="#contact">Contact</a></li>
    </ul>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center pt-5 mt-1 col-md-9 page-header">
      <h5 class="name-section pb-4 ">Marylene Sawyer</h5>
      <h6 class="occupation pb-5">Software developer</h6>
      
        <div class="col-md-6 description pt-2">Hello I am a software developer! I can help you build a product, feature or website. Look through some of my work and experience! If you like what you see and have a project you need coded, don’t hesistate to contact me.</div>
      
      <article class="rectangle-icons mb-5 d-flex pt-3  mt-5 pl-5 pr-5">
        <div>
          <a href="https://github.com/Bluette1"><i class="fab fa-github github-icon"></i></a>
          <a href="https://twitter.com/MaryleneSawyer"><i class="fab fa-twitter twitter-icon"></i></a>
          <a href="https://www.linkedin.com/in/marylene-sawyer-b4ba1295/"><i class="fab fa-linkedin-in linkedin-icon pr-4"></i></a>
          <a href="#"><i class="fab fa-angellist angellist-icon"></i></a>
          <a href="https://medium.com/@marylene.sawyer"><i class="fab fa-medium medium-icon pr-4"></i></a>
          <a href="https://dever.marylene.codes/"><i class="fab fa-blogger blogger-icon"></i></a>
        </div>
      </article>
    
  </div>
  <div class="col-md-4">
  </div>
  <article class=" col-md-8 pt-5">
    <h5 id="portfolio" class="portfolio-title">My Portfolio</h5>
    <div class="row">
      <a class="project-1 col-md-5 col-12 m-md-2" href="https://thoughtstar-app.herokuapp.com/"></a>
      <a class="project-2 col-md-5 mt-md-0 mt-4 col-12 m-md-2" href="https://eventsrite.herokuapp.com/"></a>
      <a class="project-3 col-md-5 mt-md-0 mt-4 col-12 m-md-2" href="https://github.com/Bluette1/twittter/tree/develop"></a>
      <a class="project-4 col-md-5 mt-md-0 mt-4 col-12 m-md-2" href="https://rawcdn.githack.com/Bluette1/directory-website/3d1b2e800629c4f8d79f6c110fd0d75a48d81aa6/html/index.html"></a>
    </div>
    <article class="row ml-1">
      <div id = "about" class="col-12 pt-5 mt-3 pb-4 about-me">About me</div>
      <div class="details mt-xs-5 pt-xs-5 col-md-6 pt-4 pr-md-5 mr-md-5 mb-5">
        Since I discovered my passion for technology and software development, I have sought ways to increase my knowledge and earn valuable experience in this field. My background education is in Technology; I have a BSc degree in Computer Science. Nonetheless, I believe that learning ought to a life-long pursuit.</div>
      <a class="get-my-resume mt-5 align-items-center" href="https://docs.google.com/document/d/1kwbY43uIdD2Cd1YKiO68z1PsbY51JyVQUV_QWI75DOY/edit?usp=sharing">Get my resume</a>
    </article>
    <div class="row mt-lg-0 mt-5 pt-5 pt-lg-0">
      <article class="col-md-3 languages">
        <h5 class="languages-title pt-3 mt-4 pb-4">Languages</h5>
        <div class="languages-list">
          <ul>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>Ruby</li>
            <li>CSS</li>
            <li>(ES5/ES6) </li>
          </ul>
        </div>
      </article>
      <article class="col-md-3 frameworks">
        <h5 class="frameworks-title pt-3 mt-4 pb-4">Frameworks</h5>
        <div class="frameworks-list">
          <ul>
            <li>Bootstrap</li>
            <li>Ruby on Rails</li>
            <li>RSpec</li>
            <li>Capybara</li>
            <li>Selenium</li>
          </ul>
        </div>
      </article>
      <article class="col-md-3 skills">
        <h5 class="skills-title pt-3 mt-4 pb-4">Skills</h5>
        <div class="skills-list">
          <ul>
            <li>Bootstrap</li>
            <li>Bulma</li>
            <li>Codepen</li>
            <li>Github</li>
            <li>Gitlab</li>
          </ul>
        </div>
      </article>
    </div>
    <article class="">
      <h5 class="interested-title pt-5 pb-5 mb-2">Interested in collaborating?</h5>
      <div class="interested-content col-9 pl-0 mt-3 mb-3">
        If you have an application you are interested in developing, a feature that you need built or a project that needs coding, I’d love to help you with it.
      </div>
    </article>
  </article>
  <div class="col-md-3 col-xs-12"></div>
  <div class=" col-md-9 col-xs-12 mt-5 footer-shape justify-content-center">
    <div class="footer m-5">
      <form class="row ml-xl-n5 pl-2 pr-2 justify-content-between pt-5" action="/">
        <input class="name-email col-md-5 mb-2" type="text" id="name" name="name" value="Your name">
        <input class="email col-md-5" type="text" id="email" name="email" value="Your email">
        <input class="message col-12 mt-4" type="text" id="message" name="message" value="Message*">
        <input id ="contact" class="mt-4 pl-5 pr-5 mb-5 get-in-touch" type="submit" value="Get in touch">
      <label class="my-email pt-5 pb-5">marylene.sawyer@gmail.com</label>
      </form>
      
      <a href="https://github.com/Bluette1"><i class="ml-xl-n5 fab fa-github footer-github-icon"></i></a>
      <a href="https://twitter.com/MaryleneSawyer"><i class="fab fa-twitter footer-twitter-icon"></i></a>
      <a href="https://www.linkedin.com/in/marylene-sawyer-b4ba1295/"><i class="fab fa-linkedin-in footer-linkedin-icon"></i></a>
      <a href="#"><i class="fab fa-angellist footer-angellist-icon"></i></a>
      <a href="https://medium.com/@marylene.sawyer"><i class="fab fa-medium footer-medium-icon"></i></a>
      <a href="https://dever.marylene.codes/"><i class="fab fa-blogger footer-blogger-icon"></i></a>
    </div>
  </div>
</div>
