<div class="background-header">
</div>
<div class="page-header"></div>
<article class="name-section">Marylene Sawyer</article>
<article class="rectangle-icons"></article>
<div class="occupation">Software developer</div>
<section class="description">Hello I am a software developer! I can help you build a product, feature or website. Look through some of my work and experience! If you like what you see and have project you need coded, don’t hesistate to contact me.</section>
<article class="rectangle-icons">
</article>
<article class="works-social-media">My works in social networks</article>

<a href="https://github.com/Bluette1"><i class="fab fa-github github-icon"></i></a>
<a href="https://twitter.com/MaryleneSawyer"> n    <i class="fab fa-twitter twitter-icon"></i></a>
<a href="https://www.linkedin.com/in/marylene-sawyer-b4ba1295/"><i class="fab fa-linkedin-in linkedin-icon"></i></a>
<a href="#">><i class="fab fa-angellist angellist-icon"></i></a>
<a href="https://medium.com/@marylene.sawyer"><i class="fab fa-medium medium-icon"></i></a>
<a href="https://dever.marylene.codes/"><i class="fab fa-blogger blogger-icon"></i></a>

<div id="portfolio" class="portfolio-title">My Portfolio</div>
<div class="project-1"><a href="https://bloggerwise.herokuapp.com/"></a></div>
<div class="project-2"><a href="https://thoughtstar-app.herokuapp.com/"></a></div>
<div class="project-3"><a href="https://eventsrite.herokuapp.com/"></a></div>
<div class="project-4"><a href="https://members-only-110.herokuapp.com/"></a></div>
<div class="project-5"><a href="https://github.com/Bluette1/twittter/tree/develop"></a></div>
<div class="project-6"><a href="https://nelisa-spaza-555.herokuapp.com/"></a></div>
<div id = "about" class="about-me">About me</div>
<div class="resume"></div>
<div class="get-my-resume"><a href="https://docs.google.com/document/d/1kwbY43uIdD2Cd1YKiO68z1PsbY51JyVQUV_QWI75DOY/edit?usp=sharing">Get my resume</a></div>
<div class="details">
Since I discovered my passion for technology and software development, I have sought ways to increase my knowledge and earn valuable experience in this field. My background education is in Technology; I have a BSc degree in Computer Science. Nonetheless, I believe that learning ought to a life-long pursuit.</div>
<div class="languages"></div>
<div class="languages-title">Languages</div>
<div class="languages-list">
  <ul>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>Ruby</li>
    <li>CSS</li>
    <li>(ES5/ES6) </li>
  </ul>
</div>
<div class="frameworks"></div>
<div class="frameworks-title">Frameworks</div>
<div class="frameworks-list">
  <ul>
    <li>Bootstrap</li>
    <li>Ruby on Rails</li>
    <li>RSpec</li>
    <li>Capybara</li>
    <li>Selenium</li>
  </ul>
</div>
<div class="skills"></div>
<div class="skills-title">Skills</div>
<div class="skills-list">
  <ul>
    <li>Bootstrap</li>
    <li>Bulma</li>
    <li>Codepen</li>
    <li>Github</li>
    <li>Gitlab</li>
  </ul>
</div>
<div class="interested-title">Interested in collaborating?</div>
<div class="interested-content">
  If you have an application you are interested in developing, a feature that you need built or a project that need coding, I’d love to help you with it.
</div>
<div class="footer-shape">
</div>
<div class="footer">
  <div class="message"></div>
  <div class="message-placeholder">Message*</div>
  <div class="name-email"></div>
  <div class="your-name">Yor name</div>
  <div class="email"></div>
  <div class="your-email">your-email</div>
  <div id ="contact" class="get-in-touch"></div>
  <div class="get-in-touch-message"><a href="#">Get in touch</a></div>
  <div class="my-email">marylene.sawyer@gmail.com</div>
  <div class="footer-github-icon">
    <div>
    </div>
