<div class="row body-details">
  <div class="col-md-2">
    <div class="row ml-5 ellipse mt-2 d-flex justify-content-center align-items-center">
      <h5 class="cp pt-1">CP</h5>
    </div>
    <ul class="row ml-5 intro d-flex flex-md-column">
      <li class="pr-md-0 pr-3"><a href="/details">Intro</a></li>
      <li class="pr-md-0 pr-3"><a href="/#portfolio">Portfolio</a></li>
      <li class="pr-md-0 pr-3"><a href="/details#intro">About</a></li>
      <li class="pr-md-0 pr-3"><a href="/#contact">Contact</a></li>
    </ul>
  </div>
  <article class="row col-md-10 page-header-details justify-content-center">
    <h5 class="words text-center">
      Exceptional design for ambitious companies
    </h5>
    <h5 class='here'>I am a software developer currently based in South Africa</h5>
    <div class="row d-md-flex mt-5 pt-4 justify-content-between">
      <button class="mr-5 see-live d-flex align-items-center justify-content-center pt-3">
        <a class="see-live-content" href="/#portfolio">See live</a>
      </button>
      <button class="see-source d-flex align-items-center justify-content-center pt-3">
        <a class="see-source-content" href="https://github.com/Bluette1">See source</a>
      </button>
      <div>
  </article>
      <div class="col-md-4"></div>
      <article class="pt-5 mt-5 row justify-content-between col-md-8 pt-4">
        <h5 class="brand-section">Marylene Sawyer</h5>
        <div class="html-css-btn">
          <div class="html-css pt-1 pl-2">HTML/CSS</div>
        </div>
        <div class="ror-btn">
          <div class="ror pt-1 pl-2">Ruby on Rails</div>
        </div>
        <div class="javascript-btn">
          <div class="javascript pt-1">Javascript</div>
        </div>
        <div id="intro" class="pt-3 mt-5 details-details">
          Since I discovered my passion for technology and software development, I have sought ways to increase my knowledge and earn valuable experience in this field. My background education is in Technology; I have a BSc degree in Computer Science. Nonetheless, I believe that learning ought to a life-long pursuit. I am a well-rounded person, naturally curious, and eager to inspire and impart my passion for learning to those I come into contact with. I am currently enrolled at Microverse - a school for remote developers, and I'm currently looking for my next job opportunity. In summary, I enjoy all things code-related - writing, reviewing, and testing code.  
        </div>
        <div class="col-12">
          <div class="mb-5 mt-3 talk-btn d-flex align-items-center justify-content-center pl-5">
            <a class="talk" href="/#contact">Let's talk</a></div>
        </div>
      </article>
</div>
