<div class="body-details"></div>
<div class="main-body-details"></div>
<div class="page-header-details">
<div class="words">
Exceptional design for ambitious companies
</div>
<div class="words-description">I am a software developer currently based in South Africa</div>

</div>

<div class="see-live"></div>
<div class="see-live-content"><a href="#">See live</a></div>
<div class="see-source"></div>
<div class="see-source-content"><a href="https://github.com/Bluette1">See Source</a></div>
<div class="brand-section">Marylene Sawyer</div>
<div class="html-css-btn"></div>
<div class="html-css">HTML/CSS</div>
<div class="ror-btn"></div>
<div class="ror">Ruby on Rails</div>
<div class="javascript-btn"></div>
<div class="javascript">Javascript</div>

<div id="intro" class="pt-3 details-details">
Since I discovered my passion for technology and software development, I have sought ways to increase my knowledge and earn valuable experience in this field. My background education is in Technology; I have a BSc degree in Computer Science. Nonetheless, I believe that learning ought to a life-long pursuit. I am a well-rounded person, naturally curious, and eager to inspire and impart my passion for learning to those I come into contact with. I am currently enrolled at Microverse - a school for remote developers, and I'm currently looking for my next job opportunity. In summary, I enjoy all things code-related - writing, reviewing, and testing code.  
</div>

<div class="talk-btn"></div>
<div class="talk"><a href="/#contact">Let's talk</a></div>

