<div class="body-details"></div>
<div class="main-body-details"></div>
<div class="page-header-details">
<div class="words">
Exceptional design for ambitious companies
</div>
<div class="words-description">I am a software developer currently based in South Africa</div>

</div>

<div class="see-live"></div>
<div class="see-live-content">See live</div>
<div class="see-source"></div>
<div class="see-source-content">See Source</div>
<div class="brand-section">Marylene Sawyer</div>
<div class="html-css-btn"></div>
<div class="html-css">HTML/CSS</div>
<div class="ror-btn"></div>
<div class="ror">Ruby on Rails</div>
<div class="javascript-btn"></div>
<div class="javascript">Javascript</div>

<div class="details-details">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<div class="talk-btn"></div>
<div class="talk">Let's talk</div>

